name: Sphinx Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"

      # Upload build html artifact
      - name: Create HTML artifact
        uses: actions/upload-artifact@v1
        with:
          name: DocumentationHTML
          path: docs/_build/html/

      # Commit built site to gh-pages branch.
      - name: Commit to github pages branch
        run: |
          git clone https://github.com/${{ github.repository }} --branch gh-pages --single-branch gh-pages
          cp CNAME docs/_build/html/
          touch docs/_build/html/.nojekyll
          rsync -av --delete --exclude=/.git/ docs/_build/html/ gh-pages
          cd gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Updated site." || true
          # The above command will fail if no changes were present, so we ignore
          # that.

      # Push new site build
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
